@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid gray;
} */

body {
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}
